page-alarms {

	.no-padding {
	    padding: 0px !important;
	}

	.img_header {
		width: 30% !important;
		height: 30% !important;
	}

	.text_header {
		  display: block;
		  vertical-align: middle;
	}

}
