certificate-list {

  ion-col {
    border-top: 1px solid #e6e9ee;
    border-bottom: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
  }

  .par{
  	background-color: #f0f5ff;

  }

  .impar{
  	background-color: #ffffff;
  }


}
